<?xml version="1.0"?>
<!--
/*
 * Copyright © 2020 GBPrimePay Checkout.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
      <gbprimepay>
          <gbprimepay_required>
            <environment>prelive</environment>
            <test_public_key></test_public_key>
            <test_secret_key></test_secret_key>
            <test_token_key></test_token_key>
            <debug>0</debug>
          </gbprimepay_required>
          <gbprimepay_checkout>
              <instructions></instructions>
              <active>0</active>
              <title>GBPrimePay Checkout</title>
              <sort_order>10</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayCheckout</model>
          </gbprimepay_checkout>
          <gbprimepay_direct>
              <active>0</active>
              <title>Pay with Credit Card</title>
              <order_status>processing</order_status>
              <sort_order>20</sort_order>
              <payment_action>authorize_capture</payment_action>
              <model>GBPrimePay\Checkout\Model\GBPrimePayDirect</model>
          </gbprimepay_direct>
          <gbprimepay_installment>
              <active>0</active>
              <title>Pay with Credit Card Installment</title>
              <kasikorn_installment_term>3, 4, 5, 6, 7, 8, 9, 10</kasikorn_installment_term>
              <krungthai_installment_term>3, 4, 5, 6, 7, 8, 9, 10</krungthai_installment_term>
              <thanachart_installment_term>3, 4, 6, 10</thanachart_installment_term>
              <ayudhya_installment_term>3, 4, 6, 9, 10</ayudhya_installment_term>
              <firstchoice_installment_term>3, 4, 6, 9, 10, 12, 18, 24</firstchoice_installment_term>
              <scb_installment_term>3, 4, 6, 10</scb_installment_term>
              <bbl_installment_term>3, 4, 6, 8, 9, 10</bbl_installment_term>
              <sort_order>30</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayInstallment</model>
          </gbprimepay_installment>
          <gbprimepay_qrcode>
              <active>0</active>
              <title>Pay with QR Code</title>
              <sort_order>40</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayQrcode</model>
          </gbprimepay_qrcode>
          <gbprimepay_qrcredit>
              <active>0</active>
              <title>Pay with QR Visa</title>
              <sort_order>50</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayQrcredit</model>
          </gbprimepay_qrcredit>
          <gbprimepay_qrwechat>
              <active>0</active>
              <title>Pay with QR Wechat</title>
              <sort_order>60</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayQrwechat</model>
          </gbprimepay_qrwechat>
          <gbprimepay_linepay>
              <active>0</active>
              <title>Pay with Rabbit Line Pay</title>
              <sort_order>70</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayLinepay</model>
          </gbprimepay_linepay>
          <gbprimepay_truewallet>
              <active>0</active>
              <title>Pay with TrueMoney Wallet</title>
              <sort_order>80</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayTruewallet</model>
          </gbprimepay_truewallet>
          <gbprimepay_mbanking>
              <active>0</active>
              <title>Pay with Mobile Banking</title>
              <sort_order>90</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayMbanking</model>
          </gbprimepay_mbanking>
          <gbprimepay_barcode>
              <active>0</active>
              <title>Pay with Bill Payment</title>
              <sort_order>100</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayBarcode</model>
          </gbprimepay_barcode>
      </gbprimepay>
        <payment>
          <gbprimepay_checkout>
              <instructions></instructions>
              <active>1</active>
              <title>GBPrimePay Checkout</title>
              <sort_order>10</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayCheckout</model>
          </gbprimepay_checkout>
          <gbprimepay_direct>
              <active>1</active>
              <title>Pay with Credit Card</title>
              <cctypes>AE,VI,MC,JCB</cctypes>
              <order_status>processing</order_status>
              <sort_order>20</sort_order>
              <payment_action>authorize_capture</payment_action>
              <model>GBPrimePay\Checkout\Model\GBPrimePayDirect</model>
          </gbprimepay_direct>
          <gbprimepay_installment>
              <active>1</active>
              <title>Pay with Credit Card Installment</title>
              <sort_order>30</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayInstallment</model>
          </gbprimepay_installment>
          <gbprimepay_qrcode>
              <active>1</active>
              <title>Pay with QR Code</title>
              <sort_order>40</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayQrcode</model>
          </gbprimepay_qrcode>
          <gbprimepay_qrcredit>
              <active>1</active>
              <title>Pay with QR Visa</title>
              <sort_order>50</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayQrcredit</model>
          </gbprimepay_qrcredit>
          <gbprimepay_qrwechat>
              <active>1</active>
              <title>Pay with QR Wechat</title>
              <sort_order>60</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayQrwechat</model>
          </gbprimepay_qrwechat>
          <gbprimepay_linepay>
              <active>1</active>
              <title>Pay with Rabbit Line Pay</title>
              <sort_order>70</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayLinepay</model>
          </gbprimepay_linepay>
          <gbprimepay_truewallet>
              <active>1</active>
              <title>Pay with TrueMoney Wallet</title>
              <sort_order>80</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayTruewallet</model>
          </gbprimepay_truewallet>
          <gbprimepay_mbanking>
              <active>1</active>
              <title>Pay with Mobile Banking</title>
              <sort_order>90</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayMbanking</model>
          </gbprimepay_mbanking>
          <gbprimepay_barcode>
              <active>1</active>
              <title>Pay with Bill Payment</title>
              <sort_order>100</sort_order>
              <model>GBPrimePay\Checkout\Model\GBPrimePayBarcode</model>
          </gbprimepay_barcode>
        </payment>
    </default>
</config>
